/* Overides for DevExpress */

.dx-datagrid-group-panel .dx-group-panel-item,
.dx-pages.dx-info {
    color: $color-base;
}

.dx-widget {
    color: $color-base;
    font-size: 17px;
    line-height: 1.5;
}