/* Flex Cards */


.flex-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

@include at-media(spacing-multiple(80)) {

	.flex-cards--2wide>*,
	.flex-cards--3wide>*,
	.flex-cards--4wide>*,
	.flex-cards--5wide>*,
		{
		width: calc(50% - 2rem);

	}
}

@include at-media(spacing-multiple(128)) {
	.flex-cards--3wide>* {
		width: calc(33% - 2rem);
	}
}

@include at-media(spacing-multiple(128)) {
	.flex-cards--4wide>* {
		width: calc(25% - 2rem);
	}
}

@include at-media(spacing-multiple(128)) {
	.flex-cards--5wide>* {
		width: calc(20% - 2rem);
	}
}
