/*Callout boxes*/

.usa-hero-callout {
	max-width: 30rem;
	padding: 2rem;
	color: color('white');
}

.usa-hero-callout__right {
	float: right;
}

.usa-hero-callout__base {
	background-color: color('ink');
	color: color('white');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}

.usa-hero-callout__primary {
	background-color: color('primary');
	color: color('white');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}

.usa-hero-callout__primary-darker {
	background-color: color('primary-darker');
	color: color('white');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}


.usa-hero-callout__primary-midnight {
	background-color: $color-blue-midnight;
	color: color('white');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}

.usa-hero-callout__secondary {
	background-color: color('secondary');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}

.usa-hero-callout__secondary-dark {
	background-color: color('secondary-dark');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}

.usa-hero-callout__secondary-darker {
	background-color: color('secondary-darker');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}

.usa-hero-callout__base-dark {
	background-color: color('base-dark');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}

.usa-hero-callout__accent-cool-dark {
	background-color: color('accent-cool-dark');
	color: color('ink');
}

.usa-hero-callout__accent-cool-darker {
	background-color: color('accent-cool-darker');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}

.usa-hero-callout__green {
	background-color: color('success-dark');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}

.usa-hero-callout__primary-lighter {
	background-color: color('primary-lighter');
	color: color('ink');
	box-shadow:  0 3px 6px rgba(color('ink'), 0.16), 0 3px 6px rgba(color('ink'), 0.23);
}



