/* Social Media Colors*/
.facebook {
    color: #3b5998;
}

.flickr {
    color: #ff0084;
}

.instagram {
    color: #517fa4;
}

.linkedin {
    color: #0077b5;
}

.medium {
    color: #00ab6b;
}

.pinterest {
    color: #bd081c;
}

.twitter {
    color: #55acee;
}

.youtube {
    color: #b31217;
}