
.crisis-line {
  clear: both;
  margin-top: .5rem;
   right: 2rem;
  @include at-media(spacing-multiple(128)) {
    position: absolute;
    right: 2rem;
    margin-top: 0;
    top: -.8rem;
    display: flex;
    z-index: 301;
   
  }
  @include at-media(spacing-multiple(175)) {

    right: 0;
  

  }
}

button.crisis-line-button {
  border-radius: 0;
  color: color('ink');
  background-color: color('white');
  text-align: center;
  font-size:.9rem;
  margin: auto;
  padding: 0em 26px .8em 0;
  width: 100%;
  display: block;
  text-decoration: none;
  font-weight: bold;
  @include at-media(spacing-multiple(128)) {
    background: color('white') url(/_media/img/uswds/arrow-right.svg) calc(100% - .4em) .8rem no-repeat color('white');
    background-size: .8em auto;
    border-radius: 0 0 0.2em 0.2em;
    box-shadow: 0 2px 5px color('ink');
    padding: 0 26px .5em 0;
    text-align: left;
  }
  &:hover {
    background-color: color('white');
    color: color('base-dark');
  }
  .vcl {
    content: "";
    background: url(/_media/img/va/vcl-logo.png) right 49% no-repeat;
    background-size: 100%;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: .3em .5em -.7em;
    }
  }
  >.flex {
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }

