/* CSS Document */

.usa-table__border--light {
  th,
  td {
    border: 1px solid color('base-lighter') !important;
  }
}
.usa-table--striped>tbody>tr:nth-child(odd)>td,
.usa-table--striped>tbody>tr:nth-child(odd)>th {
  background-color: transparent;
}
.usa-table--striped>tbody>tr:nth-child(even)>td,
.usa-table--striped>tbody>tr:nth-child(even)>th {
  background-color: color('base-lightest');
}

.usa-table--compressed {
  thead>tr>th {
    padding:  spacing-multiple(0.5);
  }
  tbody>tr>td {
    padding:  spacing-multiple(0.5);
  }
  tbody>tr>th {
    padding:  spacing-multiple(0.5);
  }
  .usa-button {
    margin-top:  spacing-multiple(0.5);
    margin-right:  spacing-multiple(0.5);
    margin-bottom:  spacing-multiple(0.5);
  }
}

table caption {
  margin: 0;
  padding-top:  spacing-multiple(0.5);
  padding-bottom:  spacing-multiple(0.5);
  color: color('base-darker');
  text-align: center;
  caption-side: top;
  font-weight: 400;
  font-size: 1rem;
}

.usa-table--primary thead {
  th,
  td {
    background-color: color('primary');
    color: color('white');
  }
}

.usa-table--primary-darker thead {
  th,
  td {
    background-color: color('primary-darker');
    color: color('white');
  }
}


.usa-table--primary-midnight thead {
  th,
  td {
    background-color: $color-blue-midnight;
    color: color('white');
  }
}

.usa-table--accent-cool thead {
  th,
  td {
    background-color: color('accent-cool');
    color: color('ink');
  }
}

.usa-table--accent-cool-darker thead {
  th,
  td {
    background-color: color('accent-cool-darker');
    color: color('white');
  }
}

.usa-table--secondary-darker thead {
  th,
  td {
    background-color: color('secondary-darker');
    color: color('white');
  }
}

.usa-table--green thead {
  th,
  td {
    background-color: color('success-darker');
    color: color('white');
  }
}

.usa-table--base-darker thead {
  th,
  td {
    background-color: color('base-darker');
    color: color('white');
  }
}
.usa-table--accent-warm-dark thead {
  th,
  td {
    background-color: color('accent-warm-dark');
    color: color('white');
  }
}

